
.content {
	font-family: "Lato", sans-serif;
	font-size: 18px;
}

.links li {
	display: inline-block;
}

.links {
	position: relative;
	left: 950px; 
	top: 40px;

}

.about {
	background-color: #222; 
	height: 100px;
}

.about h1 {
	color: white;
	position: relative; 
	text-align: center; 
	top: 20px;
}


.container-if-fixed-header
 {
    margin-top:50px;
}
.container-if-fixed-footer
{
    margin-bottom:55px;
}

body {
    padding-bottom: 120px;

}

.contacter ul {
	list-style: none;
	font-size: 40px;
	padding-left:0;
}


.alternate {
	background-color: #A8D5E8;
}

.contacter{
	margin-bottom: 75px;
}

/*.thumbnailer{        
    width: 300px; 
    // or you couåld use percentage values for responsive layout
    // width : 100%;
    height: 500px;
    overflow: auto;
}

.thumbnail img{
    // your styles for the image
    width: 100%;
    height: auto;
    display: block;
}*/