
.content {
	font-family: "Lato", sans-serif;
	font-size: 18px;
}

.links li {
	display: inline-block;
}

.links {
	position: relative;
	left: 950px; 
	top: 40px;

}

.about {
	background-color: #222; 
	height: 100px;
}

.about h1 {
	color: white;
	position: relative; 
	text-align: center; 
	top: 20px;
}


.container-if-fixed-header
 {
    margin-top:50px;
}
.container-if-fixed-footer
{
    margin-bottom:55px;
}
